.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 30rem;
  height: max-content;
  background-color: black;
  border-radius: 1rem;
  padding: 2rem 5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .value {
    width: 20rem;
    height: 4rem;
    margin: 1rem auto;
    font-size: 2rem;
    text-align: center;
    color: white;
  }

  .button {
    width: 20rem;
    height: 4rem;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    background-color: yellowgreen;
    border-radius: 1rem;
    color: black;
  }
}
